<div class="super_container">
    <div class="row">
		<div class="col-2"></div>
      	<div class="card back-color text-center col-8" style="margin-top:200px;">

        <div style="margin-top:30px ;">
          <h3 style="color:white ;">Crear Torneo</h3>
        </div>
		<hr class="new">
        <div >
            <form [formGroup]="formCreateTournament">
				<div class="row">
					
					<div class="form-group col-6" style="margin-top:20px ;">
						<label class="text-center">Nombre del torneo</label>
						<input type="email" class="form-control" id="exampleInputEmail1" 
							aria-describedby="emailHelp"
							formControlName="name"
						>
					</div>

					<div class="form-group col-6" style="margin-top:20px ;">
						<label class="text-center">Formato del torneo</label>
						<select class="form-control" #selectFormat (change)="onSelectFormat(selectFormat.value)" id="exampleFormControlSelect1">
							<option selected disabled>Seleccione un formato</option>
							<option *ngFor="let te of arrayFormat" [value]="te.id" >{{te.name}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-6" style="margin-top:50px ;">
						<label class="text-center">Cantidad de equipos</label>
						<select class="form-control" formControlName="cantTeams" id="exampleFormControlSelect1">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
					</div>

					

					<div class="form-group col-6" style="margin-top:50px ;">
						<label class="text-center">Modalidad</label>
						<select class="form-control" #selectModalidad (change)="onSelectModalidad(selectModalidad.value)" id="exampleFormControlSelect1">
							<option selected disabled>Seleccione una modalidad</option>
							<option *ngFor="let te of arrayModalidad" [value]="te.id" >{{te.name}}</option>
						</select>
					</div>
				</div>

				<hr class="new2">
				<div>
					<button 
						type="submit" 
						style="margin-top:50px; 
						margin-bottom: 50px;" 
						class="btn btn-primary"
						(click)="onContinue()"
					>Continuar</button>
				</div>

			</form>
        </div>
      </div> 
	  <div class="col-2"></div>
    </div> 

	<ng-container *ngIf="selectTeams">
		<div class="row">
			<div class="col-2"></div>
			<div class="card back-color text-center col-8" style="margin-top:50px;">
				<div style="margin-top:30px ;">
				<h3 style="color:white ;">Seleccion de equipos</h3>
				</div>
				<!-- <hr class="new"> -->

				<div class="row">
					<div class="col-3"></div>
					<div class="form-group col-6" style="margin-top:100px ;">
						<label class="text-center">Lista de equipos</label>
						<select class="form-control" #selectTeams (change)="onSelectTeams(selectTeams.value)" id="exampleFormControlSelect1">
							<option selected disabled>Seleccione un equipo</option>
							<option *ngFor="let te of arrayTeams" [value]="te.id" >{{te.name}}</option>
						</select>
					</div>
					<div class="col-3"></div>
				</div>



				<div class="row container-custom-teams" style="margin-top:100px ;">
					<div class="teams-margin" *ngFor="let t of selectedTeamsArray">
						<div class="">
							<img [src]="t.logo" width="100px" height="100px">
						</div>
						<label style="margin-top: 5px;" class="text-center">{{t.name}}</label>
						<p class="text-center">{{t.dt}}</p>
					</div>
				</div>

				<div>
					<button 
						type="submit" 
						style="margin-top:0px; 
						margin-bottom: 50px;" 
						class="btn btn-primary"
						(click)="onSubmit()"
					>Crear torneo</button>
				</div>


		  	</div>
			
		  	<div class="col-2"></div>
		</div> 
	</ng-container>
</div>