<div class="super_container">

	<div class="card back-color">
		<ul>
			<li><a (click)="showInicioFn()" routerLinkActive="router-link-active">Inicio</a></li>
			<li><a [routerLink]="['/administrar-equipo/plantilla']" routerLinkActive="router-link-active">Plantilla</a></li>
			<li><a [routerLink]="['/torneo/goeladores']" routerLinkActive="router-link-active">Estadisticas</a></li>
			<li><a [routerLink]="['/torneo/asistencias']" routerLinkActive="router-link-active">Cambiar Logo</a></li>
			<li><a [routerLink]="['/torneo/sanciones']" routerLinkActive="router-link-active">Invitar Jugador</a></li>
			<li><a [routerLink]="['/administrar-equipo/reportarpartido']" routerLinkActive="router-link-active">Reportar Partido</a></li>
		</ul>
	</div>

	<ng-container *ngIf="showInicio">
		<div class="row" style="margin-top:50px ;">
			<div class="col-2"></div>
			<div class="card-event left-color col-8 text-center">
				<div style="margin-top:30px ;">
					<h4 style="color: white;">Proximo partido</h4>
				</div>
				<div class="row" style="margin-top: 30px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">1</h5>
						</div>
					</div>

					<div class="col">
						<img src="../../assets/images/GELP.png" width="150" height="150" style="margin-bottom:40px ;">
					</div>
	
					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">Hacha y tiza eSports</h5>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">VS</h5>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">Sportivo barracas eSports</h5>
						</div>
					</div>

					
					<div class="col">
						<img src="../../assets/images/4320.png" width="150" height="150" style="margin-bottom:40px ;">
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">2</h5>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
			<div class="col-2"></div>
		</div>

		<div class="row" style="margin-top:50px ;">
			<!-- <div class="col-2"></div> -->
			<div class="card-stadistic left-color col-6 text-center">
				<div style="margin-top:30px ;">
					<h4 style="color: white;">Maximo goleador</h4>
				</div>
				<div class="row" style="margin-top: 30px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<div>
							<img src="../../assets/images/58_g.png" alt="" width="150" height="200">
						</div>
					</div>
	
					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">ElverFloresta17</h5>
							<p>Delantero</p>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<ul class="stats">
								<li class="d-inline-flex flex-column justify-content-center align-items-center">
									<div id="day" class="stast-num">03</div>
									<div class="stast-unit">Goles</div>
								</li>
								<li class="d-inline-flex flex-column justify-content-center align-items-center">
									<div id="hour" class="stast-num">15</div>
									<div class="stast-unit">Asistencias</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-1"></div>
				</div>
			</div>

			<div class="card-stadistic left-color col-6 text-center">
				<div style="margin-top:30px ;">
					<h4 style="color: white;">Maximo goleador</h4>
				</div>
				<div class="row" style="margin-top: 30px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<div>
							<img src="../../assets/images/58_g.png" alt="" width="150" height="200">
						</div>
					</div>
	
					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">ElverFloresta17</h5>
							<p>Delantero</p>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<ul class="stats">
								<li class="d-inline-flex flex-column justify-content-center align-items-center">
									<div id="day" class="stast-num">03</div>
									<div class="stast-unit">Goles</div>
								</li>
								<li class="d-inline-flex flex-column justify-content-center align-items-center">
									<div id="hour" class="stast-num">15</div>
									<div class="stast-unit">Asistencias</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-1"></div>
				</div>
			</div>
			<!-- <div class="col-2"></div> -->
		</div>
	</ng-container>

</div>
