<div class="super_container">

	<div class="card back-color" style="margin-top:100px ;">
		<ul>
			<li><a (click)="showInicioFn()" routerLinkActive="router-link-active">Inicio</a></li>
			<li><a (click)="showPlantillaFn()" routerLinkActive="router-link-active">Plantilla</a></li>
			<li><a [routerLink]="['/torneo/goeladores']" routerLinkActive="router-link-active">Estadisticas</a></li>
			<li><a [routerLink]="['/torneo/asistencias']" routerLinkActive="router-link-active">Cambiar Logo</a></li>
			<li><a [routerLink]="['/torneo/sanciones']" routerLinkActive="router-link-active">Invitar Jugador</a></li>
			<li><a [routerLink]="['/administrar-equipo/reportarpartido']" routerLinkActive="router-link-active">Reportar Partido</a></li>
		</ul>
	</div>

	<ng-container *ngIf="showInicio">
		<div class="row" style="margin-top:100px ;">
			<div class="col-2"></div>
			<div class="card-event left-color col-8 text-center">
				<div style="margin-top:30px ;">
					<h4 style="color: white;">Proximo partido</h4>
				</div>
				<div class="row" style="margin-top: 30px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">1</h5>
						</div>
					</div>

					<div class="col">
						<img src="../../assets/images/HYT-IESA.png" width="100" height="100" style="margin-bottom:40px ;">
					</div>
	
					<div class="col" style="margin-top:50px ;">
						<div>
							<p style="color: white ;">Hacha y tiza eSports</p>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">VS</h5>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<p style="color: white ;">Gimnasia eSports</p>
						</div>
					</div>

					
					<div class="col">
						<img src="../../assets/images/GELP.png" width="100" height="100" style="margin-bottom:40px ;">
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">2</h5>
						</div>
					</div>
					<div class="col-1"></div>
				</div>

				<div class="row" style="margin-top: 30px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">1</h5>
						</div>
					</div>

					<div class="col">
						<img src="../../assets/images/4320.png" width="100" height="100" style="margin-bottom:40px ;">
					</div>
	
					<div class="col" style="margin-top:50px ;">
						<div>
							<p style="color: white ;">Independiente eSports</p>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">VS</h5>
						</div>
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<p style="color: white ;">Hacha y tiza eSports</p>
						</div>
					</div>

					
					<div class="col">
						<img src="../../assets/images/HYT-IESA.png" width="100" height="100" style="margin-bottom:40px ;">
					</div>

					<div class="col" style="margin-top:50px ;">
						<div>
							<h5 style="color: white ;">1</h5>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
			<div class="col-2"></div>
		</div>

		<div class="row" style="margin-top:50px ;">
			<div class="col-1"></div>
			<div class="card-stadistic left-color col-sm text-center">
				<div style="margin-top:30px ;">
					<h5 style="color: white;">Jugadores suspendidos</h5>
				</div>
				<div class="row" style="margin-top: 0px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<h5 style="color: white ;">Estado:<span class="status">No habilitado</span></h5>
					</div>
					<div class="col">
						<p class="fecha-suspension">Fecha 1</p>
						<hr class="line">
					</div>
					<div class="col" style="margin-top:35px ;">
						<div>
							<h5 style="color: white ;">ElverFloresta17</h5>
							<p>Delantero</p>
						</div>
					</div>

					<div class="col-1"></div>
				</div>
				<div class="row" style="margin-top: 0px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<h5 style="color: white ;">Estado:<span class="status">No habilitado</span></h5>
					</div>
					<div class="col">
						<p class="fecha-suspension">Fecha 1</p>
						<hr class="line">
					</div>
					<div class="col" style="margin-top:35px ;">
						<div>
							<h5 style="color: white ;">NicoPerez22</h5>
							<p>Mediocampista</p>
						</div>
					</div>

					<div class="col-1"></div>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="card-stadistic left-color col-sm text-center">
				<div style="margin-top:30px ;">
					<h5 style="color: white;">Jugadores en riesgo</h5>
				</div>
				<div class="row" style="margin-top: 0px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<h5 style="color: white ;">Estado:<span class="status-warning">Precaucion</span></h5>
					</div>
					<div class="col">
						<p class="fecha-suspension">4 Amarillas</p>
						<hr class="line">
					</div>
					<div class="col" style="margin-top:35px ;">
						<div>
							<h5 style="color: white ;">ElverFloresta17</h5>
							<p>Delantero</p>
						</div>
					</div>

					<div class="col-1"></div>
				</div>
				<div class="row" style="margin-top: 0px;">

					<div class="col-1"></div>
					<div class="col" style="margin-top:50px ;">
						<h5 style="color: white ;">Estado:<span class="status-warning">Precaucion</span></h5>
					</div>
					<div class="col">
						<p class="fecha-suspension">4 Amarillas</p>
						<hr class="line">
					</div>
					<div class="col" style="margin-top:35px ;">
						<div>
							<h5 style="color: white ;">NicoPerez22</h5>
							<p>Mediocampista</p>
						</div>
					</div>

					<div class="col-1"></div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</ng-container>


	<ng-container *ngIf="showPlantilla">
		<app-plantilla></app-plantilla>
	</ng-container>
	

</div>
