
<div class="super_container">

  <section class="container-section">
    <div class="text-left">
      <h4>TORNEOS EN COMPETENCIA</h4>
    </div>
  </section>

  <div class="row">
    <div class="col-1"></div>
    <div class="card back-color text-center col-10" style="margin-top:100px;">
        <div class="col-12">
          <ul>
            <li class="list-group-item-custom">
              <div class="row">
                <div class="col-2">
                  <div style="margin-left:100px ;">
                    <img src="../../assets/images/logo 1.png" width="200" height="150">
                  </div>
                </div>
                <div class="col-8" style="margin-top:30px ;">
                  <h4>PRIMERA DIVISION</h4>
                  <P>Modalidad: Clubes Pro - 18 Equipos</P>
                </div>
                <div class="col-2" style="margin-top:30px ;">
                  <button class="btn btn-outline-success">Ver Torneo</button>
                </div>
              </div>
              
            </li>
            <hr class="line">
            <li class="list-group-item-custom">
              <div class="row">
                <div class="col-2">
                  <div style="margin-left:100px ;">
                    <img src="../../assets/images/logo 2.png" width="200" height="130">
                  </div>
                </div>
                <div class="col-8" style="margin-top:30px ;">
                  <h4>SEGUNDA DIVISION</h4>
                  <P>Formato: Liga con reducido - 18 Equipos</P>
                </div>
                <div class="col-2" style="margin-top:30px ;">
                  <button class="btn btn-outline-success">Ver Torneo</button>
                </div>
              </div>
              
            </li>
          </ul>
        </div>

  
    </div>
    <div class="col-1"></div>
  </div>

</div>